In [1]:
import requests

In [17]:
url = 'http://0.0.0.0:3000/try_select'

response = requests.get(url)

response.text

'"   ?column?\\n0         1"'

In [33]:
url = 'http://0.0.0.0:3000/check'

response = requests.get(url)

response.text

'"API is ready"'

In [19]:
url = 'http://0.0.0.0:3000/get_tables'

response = requests.get(url)

response.text

'"                table_name\\n0             pg_statistic\\n1                  pg_type\\n2         pg_foreign_table\\n3                pg_authid\\n4                pg_shadow\\n..                     ...\\n203  foreign_table_options\\n204         foreign_tables\\n205      _pg_user_mappings\\n206   user_mapping_options\\n207          user_mappings\\n\\n[208 rows x 1 columns]"'

In [20]:
from sqlalchemy import create_engine
import pandas as pd

In [31]:
username = "user"
password = "pass"
host = "127.0.0.1"
port = "5432"
database = "mydatabase"

query = """SELECT *
FROM mytable
"""
engine = create_engine(f"postgresql://{username}:{password}@{host}:{port}/{database}")
result = pd.read_sql(query, engine)

In [32]:
result

   id  name  age
0   1  John   25
1   2  Jane   30